<script type="module" src="statistics-card.js"></script>

<template id="stats-card-template">
    <style>
        @import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
        @import "components/statistics-card/statistics-card.css";
    </style>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-1">
                <slot name="title"></slot>
            </h5>
            <p class="card-text mb-3 text-muted">
                <slot name="description"></slot>
            </p>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Makelaar</th>
                        <th>Objects</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <p class="loading-text">Loading..</p>
            <p class="error-text text-danger">Oops, couldn't load these stats now :(</p>
        </div>
    </div>
</template>